<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<body>
  <nav class="nav-wraper red">
    <div class="container">
      <a href="#" class="brand-lo">College Club Manager</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <a href="#" data-target="sideNavi" class="sidenav-trigger"><input class="material-icons"></i></a>
        <li class="tab">
          <a class="nav-item nav-link active navbar-center" href="{% url 'create'%}">สร้างโค้ด</a>
        </li>
        <li class="tab">
          <a class="nav-item nav-link" href="{% url 'display'%}">เช็คสถานะโค้ด</a>
        </li>
        <li class="tab"><a class="nav-item nav-link" href="#">ข่าวสาร</a></li>
        <li class="tab">
          <a class="nav-item nav-link" href="#">การตั้งค่า</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-links">
    <li><a href="#">สร้างโค้ด</a></li>
    <li><a href="#">เช็คสถานะโค้ด</a></li>
    <li><a href="#">ข่าวสาร</a></li>
    <li><a href="#">การตั้งค่า</a></li>
  </ul>

  <section class="section container" id="services">
    <div class="row">
      <div class="card col s12 l4">
        <div class="card-item">
          <div class="card">
            <section class="section container">

              <br /><br />
              <h2 class="indigo-text text-darken-4">Calendar</h2>
              <br /><br />
            </section>
          </div>

          <div class="card">
            <section class="section container">
              <h5 class="indigo-text text-darken-4">News</h5>

            </section>
          </div>

          <div class="card">
            <section class="section container">
              <h5 class="indigo-text text-darken-4">News</h5>

            </section>
          </div>

          <div class="card">
            <section class="section container">
              <h5 class="indigo-text text-darken-4">News</h5>

            </section>
          </div>

        </div>


      </div>



      <div class="card col s12 l6 offset-l1">
        <!-- tabs -->
        <ul class="tabs">
          <li class="tab col s6">
            <a href="#photography" class="active indigo-text text-darken-4">สร้างโค้ดกิจกรรม</a>
          </li>
          <li class="tab col s6">
            <a href="#editing" class="indigo-text text-darken-4">เพิ่มรายชื่อกิจกรรม</a>
          </li>
        </ul>
        <div id="photography" class="col s12">

          <div class="card-item white lighten-1">
            <section name="code" class="section container">
              <p class="flow-text center-align">
                <span class="card-title indigo-text"><i class="material-icons">edit</i>สร้างโค้ดกิจกรรม</span>
              </p>
              <form action="{%url 'create_code'%}" method="post" id="code-form" class="row  justify-content-center">

                <div class="input-field">
                  <!-- <input type="text" class="form-control" name="atvcode" /> -->
                  <select name="atvcode">
                    <!-- {%for data in datas %} -->
                    <option value="{{ data.atvcode }}">Activity 1</option>
                    <option value="{{ data.atvcode }}">Activity 2</option>
                    <option value="{{ data.atvcode }}">Activity 3</option>
                    <!-- {%endfor%} -->

                  </select>
                  <label for="atvcode">กิจกรรม</label>
                </div>
                <div class="input-field">
                  <label for="prefix">คำนำหน้า</label>
                  <input type="text" class="form-control" name="prefix" />
                </div>
                <div class="w-100"></div>
                <div class="input-field">
                  <label for="amount">จำนวนโค้ดที่จะสร้าง</label>
                  <input type="number" class="form-control" name="amount" />
                </div>

                <div class="input-field">
                  <label for="length">ความยาวของโค้ด</label>
                  <input type="number" class="form-control" name="length" />
                </div>

                <div class="input-field">
                  <label for="point">จำนวนหน่วยกิต</label>
                  <input type="number" step="0.01" class="form-control" name="point" />
                </div>

                <div class="row">
                  <div class="input-field col s5">
                    <label for="expD">วันสิ้นสุดโค้ด</label>
                    <input type="text" class="datepicker" name="expD" />
                  </div>

                  <div class="input-field col s5">
                    <label for="">เวลาสิ้นสุดโค้ด</label>
                    <input type="text" class="timepicker" name="expT" />
                  </div>
                </div>

                <div class="center-align">
                  <button class="btn waves-effect waves-light" type="submit">submit <i
                      class="material-icons right">send</i></button>
                </div>


              </form>
            </section>
          </div>
        </div>
        <section id="editing" class="col s12">
          <section class="card-item white">
            <section name="activity" class="section container">
              <p class="flow-text center-align indigo-text">
                <i class="material-icons">note_add</i> เพิ่มรายการกิจกรรม
              </p>
              <form action="{%url 'create_activity'%}" method="post" id="activity-form"
                class="row  justify-content-center">
                <div class="input-field">
                  <label for="atvcode">รหัสกิจกรรม</label>
                  <input type="text" class="form-control" name="atvcode" />
                </div>
                <div class="input-field">
                  <label for="name">ชื่อกิจกรรม</label>
                  <input type="text" class="form-control" name="name" />
                </div>

                <div class="input-field">
                  <label for="place">สถานที่จัด</label>
                  <input type="text" class="form-control" name="place" />
                </div>

                <div class="row">
                  <div class="input-field col s5">
                    <label for="expD">วันสิ้นสุดโค้ด</label>
                    <input type="text" class="datepicker" name="expD" />
                  </div>

                  <div class="input-field col s5">
                    <label for="">เวลาสิ้นสุดโค้ด</label>
                    <input type="text" class="timepicker" name="expT" />
                  </div>
                </div>

                <div class="center-align">
                  <button class="btn waves-effect waves-light">submit <i class="material-icons right">send</i></button>
                </div>
              </form>
            </section>
          </section>
      </div>
    </div>
    </div>
  </section>



  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    const code_form = $("#code-form");
    const activity_form = $("#activity-form");


    $('select').formSelect();
    $(".sidenav").sidenav();
    $(".datepicker").datepicker({});

    $(".timepicker").timepicker({});
    $(".tabs").tabs();




    code_form.submit(e => {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: code_form.attr("action"),
        data: code_form.serialize(),
        success: data => {
          alert("create code : success");
        },
        error: error => {
          alert("create code : error");
        }
      });
    });
    activity_form.submit(e => {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: activity_form.attr("action"),
        data: activity_form.serialize(),
        success: data => {
          alert("create activity : success");
        },
        error: error => {
          alert("create activity : error");
        }
      });
    });
  </script>


</body>

</html>