<!DOCTYPE html>
<html lang="en">

<head>
    <title>Display Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />


</head>

<body>
    <nav class="nav-wraper red">
        <div class="container">
            <a href="#" class="brand-lo">College Club Manager</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <a href="#" data-target="sideNavi" class="sidenav-trigger"><input class="material-icons"></i></a>
                <li class="tab">
                    <a class="nav-item nav-link active navbar-center" href="{% url 'create'%}">สร้างโค้ด</a>
                </li>
                <li class="tab">
                    <a class="nav-item nav-link" href="{% url 'display'%}">เช็คสถานะโค้ด</a>
                </li>
                <li class="tab"><a class="nav-item nav-link" href="#">ข่าวสาร</a></li>
                <li class="tab">
                    <a class="nav-item nav-link" href="#">การตั้งค่า</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a href="#">สร้างโค้ด</a></li>
        <li><a href="#">เช็คสถานะโค้ด</a></li>
        <li><a href="#">ข่าวสาร</a></li>
        <li><a href="#">การตั้งค่า</a></li>
    </ul>

    <div class="container">
        
        <section name="table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">อันดับ</th>
                        <th scope="col">ชื่อกิจกรรม</th>
                        <th scope="col">กำหนดการ</th>
                        <th scope="col">สถานที่</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">สถานะ</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{data.name}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.place}}</td>
                        <td>{{data.code_set.count}}</td>
                        <!-- <td>{{data.status}}</td> -->
                        <td>
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </td>

                    </tr>


                </tbody>
            </table>
        </section>
    </div>


    <script>
        function onStatusChange(e) {
            console.log($(e).data('atvcode'));
        }
    </script>
</body>

</html>